<!DOCTYPE html>
<html>
<head>
  <title>Livestock</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ym-wrapper">
    <div class="ym-wbox">
      <header>Husdyrdatabase</header>
	<%= yield %>
    </div>
  </div>
</body>
</html>
